
@font-face{
  font-family: 'flexSlider-icon';
  src: url('../fonts/flexSlider-icon.eot');
  src: url('../fonts/flexSlider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexSlider-icon.woff') format('woff'), url('../fonts/flexSlider-icon.ttf') format('truetype'), url('../fonts/flexSlider-icon.svg#flexSlider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.flex-container a:hover,
.flex-slider a:hover{
  outline: none;
}
.slides,
.slides > .slidePanel,
.flex-control-nav,
.flex-direction-nav{
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span{
  text-transform: capitalize;
}



.flexslider{
  margin: 0;
  padding: 0;
}
.flexslider .slides > .slidePanel{
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img{
  width: 100%;
  display: block;
}
.flexslider .slides:after{
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides{
  display: block;
}
* html .flexslider .slides{
  height: 1%;
}
.no-js .flexslider .slides > .slidePanel:first-child{
  display: block;
}



.flexslider{
  margin: 0 0 60px;
  background: transparent;
  border: 0px solid #fff;
  position: relative;
  zoom: 1;
}
.flexslider .slides{
  zoom: 1;
}
.flexslider .slides img{
  height: auto;
  -moz-user-select: none;
}
.flex-viewport{
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport{
  max-height: 300px;
}
.carousel .slidePanel{
  margin-right: 5px;
}
.flex-direction-nav{
  /* *height: 0;*/
}
.flex-direction-nav a{
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  font-size: 0;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before{
  font-family: "flexslider-icon";
  font-size: 40px;
  line-height: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before{
  content: '\f002';
}
.flex-direction-nav .flex-prev{
  left: -50px;
}
.flex-direction-nav .flex-next{
  right: -50px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev{
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover{
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next{
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover{
  opacity: 1;
}
.flex-direction-nav .flex-disabled{
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a{
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before{
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover{
  opacity: 1;
}
.flex-pauseplay a.flex-play:before{
  content: '\f003';
}
.flex-control-nav{
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}
.flex-control-nav li{
  margin: 0 auto;
  padding: 0 5px;
  display: inline-block;
  zoom: 1;
}
.flex-control-paging li a{
  width: 15px;
  height: 15px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  transition: all 1s ease;
}
.flex-control-paging li a:hover{
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active{
  width: 45px;
  height: 15px;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
  transition: all 1s ease;
}
.flex-control-thumbs{
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs .slidePanel{
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img{
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover{
  opacity: 1;
}
.flex-control-thumbs .flex-active{
  opacity: 1;
  cursor: default;
}


@media screen and (max-width: 860px){
  .flex-direction-nav .flex-prev{ opacity: 1; left: 10px; }
  .flex-direction-nav .flex-next{ opacity: 1; right: 10px; }
}

/* Customize */
.flexslider{ overflow: hidden; }
.navRight.flexslider{ overflow: visible; }
.navNone .flex-control-nav{ display: none; }
.navRight .flex-direction-nav a{ top: -5px; }

.navRight.flexslider:hover .flex-direction-nav .flex-prev,
.navRight .flex-direction-nav .flex-prev{ opacity: 1; left: unset; right: 15px !important; }
.navRight.flexslider:hover .flex-direction-nav .flex-next,
.navRight .flex-direction-nav .flex-next{ opacity: 1; right: 10px; }
.navRight .flex-direction-nav a{ width: 24px; height: 24px; }
.navRight .flex-direction-nav a:before{ font-size: 20px; line-height: 24px; }