.span3.col4 {
    width: 29.05%;
}

.src_right {
    display: flex;
    float: right;
}
.register-form{
    width: 100%;
    padding-top: 15px;
    float: right;
}
.src_right .border-0{
    height: 30px;
    margin-left: 3px;
}

.section_container {
    padding-left: 30px;
    padding-right: 18px;
}

.dashboard {
    color: #333333;
    padding-bottom: 10px;
    font-size: 20px;
}

.usr-name {
    color: #0f6cb2;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 27px;
}


.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.account-wrapper {
    display: flex;
    padding-bottom: 18px;
}

.account-icon {
    background: #D75609;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-right: 18px;
}

.account-body {
    background: #E9651B;
    width: 150px;
    text-align: center;
    border-radius: 7px;
    color: #fff;
    font-size: 15px;
}

.account-icon i {
    color: #fff;
    font-size: 19px;
    text-align: center;
    display: block;
    margin: 6px auto;
}

span.price {
    font-size: 28px;
    font-weight: bold;
}

.account-body p {
    color: white;
}

.account-icon.ic-2 {
    background: #CC3137;
}

.account-icon.ic-3 {
    background: #80B34E;
}

.account-body.ac-2 {
    background: #CC3137;
}

.account-body.ac-3 {
    background: #80B34E;
}

.nav-link:hover {
    background: #eee;
    border-radius: 4px;
    line-height: 1.42857143;
    padding: 10px 15px;
}

.act-info {
    font-size: 16px;
    margin-top: 36px;
    margin-bottom: 9px;
    position: relative;
    color: #333333;;
}

.card-body {
    border-bottom: 2px solid #efe7e7;
    padding: 11px;
}

.sign-in-page {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    padding: 20px;
    overflow: hidden;
    border: 1px solid #e3e3e3;
}

.section_container .container {
    max-width: 1033px;
}

.nav-tabs.nav-stacked.well{
    border-bottom: 2px #e4e4e4 solid;
}
.card-wrapper{
    border: 1px #f3f3f3 solid;
    float: right;
    width: 99%;
}
.body-content{
    border: 1px #f3f3f3 solid;
    float: right;
    width: 100%;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.fade {
    transition: opacity 0.15s linear;
}
.tab-content {
    overflow: auto;
}

.checkout-subtitle{ padding-top: 15px; }
.checkout-subtitle.left{ padding-left: 15px; }
.subTitle{padding: 15px 0 15px 15px}
.orderTxt{display: flex; float: left; padding-left: 10px;}
.formBox{display: flex; float: right; padding-right: 10px;}
.formBox button{ height: 30px; }

.pagination {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination li{ display: inline-block; }
.pagination li:hover a,
.pagination li.active span{ background: #428bca; color: #fff;}
.pagination li a,
.pagination li span{ display: block; padding: 3px 12px; }

.btn.btn-danger{ display: inline-block !important; font-size: 20px; padding: 7px 30px !important; background: #bbb !important; border-radius: 5px; text-decoration: none;}
.btn.btn-danger:hover{ background: #428bca !important; color: #fff;}